<div class="row">
    <div class="col-6"></div>
    <div class="col-6 " style="background-color: white;">
        <h1>Enjoy banking with sbi</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium quaerat nisi ut et ea! Aut dolor
            voluptatum provident sint omnis doloremque voluptates explicabo sunt, sapiente architecto ipsa temporibus
            impedit distinctio.</p>
            <img class="container w-75" src="https://i.postimg.cc/mDQG97xb/download-11.jpg" alt="">
    </div>
</div>