<div class="w-75 container"><h2>account creation</h2> <form>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">user name</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
     
    </div>
    <div class="mb-3">
      <label for="exampleInputaccountnumber" class="form-label">acount number</label>
      <input type="number" class="form-control"  >
    </div>
    <div class="mb-3 ">
     <label for="exampleInputaccountnumber" class="form-label">new password</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3 ">
        <label for="exampleInputaccountnumber" class="form-label">conform password</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form></div>
